/* Base CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    text-align: right;
}

body::-webkit-scrollbar {
    display: none;
}

.banner {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/School.png);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 95%;
    margin: auto;
    padding: 10px 0; /* Added padding for spacing */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Changed position to fixed */
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent; /* Ensure background color for readability */
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.logo {
    padding-left: 10px;
    width: 190px;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.navbar ul li{
    list-style:none;
    display: inline-block;
    margin: 0 20px;
    position: relative; 
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;   
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: #b4bdbc;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li a:hover::after{
    width: 100%;
}

.toggle-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-left: auto;
}

.about {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.about-text {
    font-size: 18px;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.main {
    width: 100%;
    max-width: 1130px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-text h1 {
    color: #ffffff;
    font-size: 90px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.about-text p {
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.submit-btn {
    padding: 10px 20px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
    border: none;
    background-color: #009688;
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.submit-btn span {
    display: block;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 150, 136, 0.7);
    transition: width 0.5s;
}

.submit-btn:hover span {
    width: 100%;
}

.popup {
    background: rgba(0, 0, 0, 0.7);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.container p {
    text-align: center;
    margin: 30px 0 10px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
    font-weight: bold;
}

.container h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    margin-top: 10px; /* Reduce top margin */
    background-color: white;
    padding: 15px; /* Reduce padding */
    width: calc(50% - 10px); /* Adjusted width for smaller spacing */
    margin: 5px; /* Adjusted margin for smaller spacing */
    border: 4px solid black;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.card:hover {
    transform: scale(1.05);
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 4px solid black;
}

.profile-img img {
    width: 100%;
    height: 100%;
}

.content {
    text-align: center;
    padding: 10px;
}

.content h3 {
    font-size: 1rem;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.9);
}

.content p {
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    margin: 0;
}

.social-media {
    margin-top: 15px;
}

.social-media i {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
    background-color: #ebeaea;
    padding: 10px;
    margin: 0 3px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: 0.5s;
}

.social-media i:hover {
    background-color: #dddddd;
    color: rgba(0, 0, 0, 0.9);
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .card {
        width: calc(50% - 10px); /* Adjusted width for smaller spacing */
        padding: 20px;
        height: auto;
    }

    .profile-img {
        width: 100px;
        height: 100px;
    }

    .content h3 {
        font-size: 1rem;
    }

    .content p {
        font-size: 0.875rem;
    }

    .social-media i {
        font-size: 1rem;
    }

    .navbar {
        justify-content: space-between;
        position: fixed;
        width: auto;
        height: 120px;
        top: 0;
        left: 0;
        right: 0;
        background-color: transparent; /* Set desired background color */
        z-index: 1000;
    }


    .toggle-menu {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: #fff;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

    .logo {
        display: flex; /* Hide logo on small devices */
    }

    .about-text {
        width: 100%;
        padding: 20px;
        font-size: 18px;
    }

    .about-text h1 {
        font-size: 32px;
    }

    .about-text p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .submit-btn {
        width: 100%;
        padding: 10px;
        font-size: 18px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .logo {
        display: none; /* Hide logo on small devices */
    }

    .card {
        width: calc(50% - 10px); /* Adjusted width for smaller spacing */
        padding: 10px;
        margin-top: 10px; /* Reduce top margin */
        height: auto;
    }

    .profile-img {
        width: 70px;
        height: 70px;
    }

    .content h3 {
        font-size: 0.75rem;
    }

    .content p {
        font-size: 0.75rem;
    }

    .social-media i {
        font-size: 0.75rem;
    }
}

@media (max-width: 320px) {
    .logo {
        display: none; /* Hide logo on small devices */
    }
    .card {
        width: calc(50% - 10px); /* Adjusted width for smaller spacing */
        padding: 10px;
        margin-top: 10px; /* Reduce top margin */
        height: auto;
    }

    .profile-img {
        width: 60px;
        height: 60px;
    }

    .content h3 {
        font-size: 0.75rem;
    }

    .content p {
        font-size: 0.75rem;
    }

    .social-media i {
        font-size: 0.75rem;
    }
}

@media (min-width: 1024px) {
    .card {
        flex: 1 1 calc(25% - 20px); /* Four cards per row */
        max-width: calc(25% - 20px);
        margin: 10px;
    }
}




@media (min-width: 1280px) {

    .card {
        width: calc(25% - 20px); /* Restore the original width for larger screens */
        padding: 40px;
        height: 400px;
    }

    .profile-img {
        width: 200px;
        height: 200px;
    }

    .content h3 {
        font-size: 1.2rem;
    }

    .content p {
        font-size: 1rem;
    }

    .social-media i {
        font-size: 1.5rem;
    }

    .about img {
        width: 50%;
    }

    .about-text {
        width: 60%;
        padding: 20px;
        font-size: 18px;
    }

    .main {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navbar ul {
        flex-direction: row;
    }

    .navbar ul li {
        margin: 0 20px;
    }

    .about-text h1 {
        font-size: 70px;
    }

    .about-text p {
        font-size: 16px;
    }
}
