* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    text-align: right;
}

body::-webkit-scrollbar {
    display: none;
}

.banner {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/School.png);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 95%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1000;
}

.logo {
    padding-left: 10px;
    width: 190px;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #b4bdbc;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.toggle-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-left: auto;
}

.logo-text {
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    float: left;
}

.select1 {
    padding: 8px;
    padding-top: 5px;
    font-size: 21px;
    border: 4px solid black; /* Black border */
    border-radius: 15px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    width: 500px;
    margin: 0 auto; /* Center the select element */
    position: relative; /* Add position relative */
    top: -40px; /* Adjust this value to move the select element higher */
}

/* Style for the second select element */
.select2 {
    padding: 8px;
    padding-top: 5px;
    font-size: 21px;
    border: 4px solid black; /* Black border */
    border-radius: 15px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    width: 500px;
    margin: 0 auto; /* Center the select element */
    position: relative; /* Add position relative */
    top: 150px; /* Adjust this value to move the select element lower */
    margin-right: -50px;
}

option {
    background-color: #888;
    text-align: center;
    font-weight: 500;
}

header li img {
    width: 220px;
    padding-bottom: 40px;
    cursor: pointer;
    float: left;
    margin-top: -100px;
    margin-right: 10px; /* Adjusted margin for spacing */
}

.maincon {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.glassmorphism h1 {
    text-align: center;
    margin-bottom: 12px;
    color: white;
    letter-spacing: 2px; 
    line-height: 1.2;
    text-transform: uppercase; 
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.glassmorphism {
    width: 85%;
    box-shadow: 15px 15px 12px #00000035;
    backdrop-filter: blur(-1px);
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    height: 50%;
    top: calc(50% + 58px); 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 8px;
    height: calc(60% - -30px);   
    background: brown;
    border: 4px solid black; /* Black border */   
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 4px solid black;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #555;
}

.translator .item {
    width: auto; /* Ayusin ang lapad kung kinakailangan */
    height: 50px;
    list-style: none;
    padding: 0 20px;
    position: absolute; /* I-set ang position sa absolute */
    top: 120px; /* I-set ang top sa 20px para malapit sa taas */
    right: 0; /* I-set sa pinakagitna ng kanan */ 
    margin-right: 2%;
}

.translator .box,
.translator .box2 {
    height: 135px; /* Adjust the height as needed */
    margin-bottom: 102px; /* Add space between the two boxes */
    position: relative; /* Add relative positioning to .box */
    width: calc(50% - 5px); /* Each box takes 50% width with 5px spacing */
    margin-left: 50px;
    margin-top: 40px;
}

.translator .box2 {
    margin-left: 50px; /* Add spacing between the boxes */
}

.translator .contranslated {
    height: 230px; /* Adjust the height as needed */
    position: absolute; /* Adjusted to absolute positioning */
    bottom: 15px; /* Adjusted to align to the bottom */
    left: 50%; /* Adjusted to center horizontally */
    transform: translateX(-50%); /* Adjusted to center horizontally */
    width: calc(100% - 0px); /* Adjusted the width to be 100% - 40px padding */
    padding: 20px; /* Added padding for better appearance */
    margin-bottom: 25px;
}

.translator .contranslated::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px; /* Adjust the distance from the top */
    transform: translateX(-50%);
    width: 95%; /* Adjust width as needed */
    height: 1.5px; /* Height of the line */
    background-color: #a8a0a0; /* Color of the line */
}

.translator .box .mess,
.translator .box2 .mess2,
.translator .contranslated .mess {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
}

.translator .box textarea.textmess,
.translator .box2 textarea.textmess2,
.translator .contranslated textarea.translated {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 8px;
    border-radius: 10px;
    font-size: 22px;
    resize: none;
    margin: 0;
    background: #ffffff;
    border-top: 1px solid #ffffff75;
    border-left: 1.5px solid #ffffff75;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.submit-btn {
    padding: 6px 0;
    text-align: center;
    margin: 15px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: absolute;
    margin-left: 610px;
    bottom: 8.5px;
    width: 12%;
    left: 46%;
    transform: translateX(-50%);    
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adding transition for smooth effect */
}
span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.submit-btn:hover span {
    width: 100%;
}
.submit-btn:hover {
    border: none;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .navbar {
        justify-content: space-between;
        position: fixed;
        width: auto;
        height: 120px;
        background-color: transparent; /* Set desired background color */
        z-index: 1000;
    }

    .glassmorphism {
        width: 90%;
        height: 80%;
        padding: 20px;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .translator .box textarea.textmess, .translator .box2 textarea.textmess2, .translator .contranslated textarea.translated {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        padding: 8px;
        border-radius: 10px;
        font-size: 22px;
        resize: none;
        margin: 0;
        background: #ffffff;
        border-top: 1px solid #ffffff75;
        border-left: 1.5px solid #ffffff75;
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
    .translator .box2 {
        margin-left: 0;
    }
    .translator .box, .translator .box2 {
        height: 135px;
        position: relative;
        width: calc(50% - 5px);
        margin-left: 0;
        margin-top: 40px;
    }

    .select1 {
        padding: 8px;
        padding-top: 5px;
        font-size: 21px;
        border: 4px solid black;
        border-radius: 15px;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        cursor: pointer;
        width: 432px;
        margin: 0 auto;
        position: relative;
        top: 8px;
        left: 18px;
    }

    .select2 {
        padding: 8px;
        padding-top: 5px;
        font-size: 21px;
        border: 4px solid black;
        border-radius: 15px;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        cursor: pointer;
        width: 434px;
        margin: 0 auto;
        position: relative;
        top: 187px;
        left: 21px;
    }

    .submit-btn {
        width: 20%;
        margin-top: 40px;
        left: 182px
    }
}

@media (max-width: 768px) {
    .logo {
        margin: auto;
        width: 150px;
    }

    .toggle-menu {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: #fff;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
    
    .navbar ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .glassmorphism {
        width: 90%;
        padding: 20px;
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input[type="text"], input[type="email"], textarea {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
    }

    .translator .box textarea.textmess, .translator .box2 textarea.textmess2, .translator .contranslated textarea.translated {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        padding: 8px;
        border-radius: 10px;
        font-size: 22px;
        resize: none;
        margin: 0;
        background: #ffffff;
        border-top: 1px solid #ffffff75;
        border-left: 1.5px solid #ffffff75;
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    .submit-btn {
        width: 20%;
        margin-top: 0;
        left: -38px;
    }

    .translator .box, .translator .box2, .translator .contranslated {
        width: 100%;
        margin-left: 0;
        top: 20px;
    }

    .glassmorphism h1 {
        text-align: center;
        margin-bottom: 12px;
        color: white;
        letter-spacing: 2px;
        line-height: 1.2;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .select1 {
        padding: 8px;
        padding-top: 5px;
        font-size: 21px;
        border: 4px solid black;
        border-radius: 15px;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        cursor: pointer;
        width: 517px;
        margin: 0 auto;
        position: relative;
        top: -58px;
        left: -47px;
    }

    .select2 {
        padding: 8px;
        padding-top: 5px;
        font-size: 21px;
        border: 4px solid black;
        border-radius: 15px;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        cursor: pointer;
        width: 509px;
        margin: 0 auto;
        position: relative;
        top: 129px;
        left: -46px;
    }

    .translator .box textarea.textmess, .translator .box2 textarea.textmess2, .translator .contranslated textarea.translated {
        width: calc(83% - 20px);
        height: calc(93% - 20px);
        padding: 8px;
        border-radius: 10px;
        font-size: 22px;
        resize: none;
        margin: 0;
        background: #ffffff;
        border-top: 1px solid #ffffff75;
        border-left: 1.5px solid #ffffff75;
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        margin-top: auto;
    }
}
