* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    text-align: right;
    height : fit-content;
}

body::-webkit-scrollbar {
    display: none;
}

.banner {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/School.png);
    background-size: cover;
    background-position: center;
}


.navbar {
    width: 95%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1000;
}

.logo {
    padding-left: 10px;
    width: 190px;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #b4bdbc;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.toggle-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-left: auto;
}

.logo-text {
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    float: left;
}
.maincon {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.glassmorphism h1 {
    text-align: center;
    margin-bottom: 12px;
    color: white;
    letter-spacing: 2px; 
    line-height: 1.2;
    text-transform: uppercase; 
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.glassmorphism {
    width: 85%;
    overflow: hidden;
    position: absolute;
    box-shadow: 15px 15px 12px #00000035;
    height: 50%;
    top: calc(53.5% + 51.5px); 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 8px;
    height: calc(54% - -120px);   
    background: rgba(176, 155, 155, 0.471);
    border: 1px solid black; /* Black border */   
}


input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 4px solid black;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #555;
}

.translator h2 {
    text-align: left;
    padding-top: 2px;
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 15px;
    color: #ffffff;
    font-style: inherit;
}

.translator .box, .translator .box2 {
    height: 65px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 20px;
    width: calc(100% - 40px);
}

.translator .box2 {
    height: 65px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 20px;
    width: calc(100% - 40px);
    color: #ffffff;
}

.translator .contranslated {
    margin-bottom: -25px;
    height: 225px;
    position: relative;
    width: calc(100% - 20px);
    padding: 20px;
}

.translator .box .mess, .translator .box2 .mess2, .translator .contranslated .mess {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
}

.translator .box textarea.textmess, .translator .box2 textarea.textmess2, .translator .contranslated textarea.translated {
    width: calc(98% - 30px);
    height: calc(100% - 20px);
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
    resize: none;
    margin: 0;
    background: #fef2f2d1;
    border: 1px solid black;
    overflow: hidden;
    color: #000;
}

.submit-btn {
    padding: 6px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    width: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 60px;
}

span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.submit-btn:hover span {
    width: 100%;
}

.submit-btn:hover {
    border: none;
}


/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .banner {
        width: 100%;
        min-height: 110vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/School.png);
        background-size: cover;
        background-position: center;
    }
    .navbar {
        justify-content: space-between;
        position: fixed;
        width: auto;
        height: 120px;
        background-color: transparent; /* Set desired background color */
        z-index: 1000;
    }


    .glassmorphism {
        width: 90%;
        height: 85%;
        padding: 20px;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .submit-btn {
        width: 20%;
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
   
    .toggle-menu {
        
        top: 37%;
        right: 32px;
    }
    

    .navbar ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .glassmorphism {
        width: 90%;
        padding: 20px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input[type="text"], input[type="email"], textarea {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
    }

    .submit-btn {
        width: 20%;
        margin-top: 40px;
    }

    .translator .box, .translator .box2, .translator .contranslated {
        width: 100%;
        margin-left: 0;
    }

}

@media (max-width: 480px) {
    .navbar ul li {
        margin: 5px 0;
    }

    .glassmorphism {
        height: fit-content;
        margin-top: 75px;
    }

    .glassmorphism h1 {
        font-size: 16px;
    }

    input[type="text"], input[type="email"], textarea {
        width: 100%;
        padding: 8px;
        margin: 5px 0;
    }

    .submit-btn {
        width: 30%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 40px;
    }

    .translator .box, .translator .box2, .translator .contranslated {
        width: 100%;
        margin-left: 0;
    }

    .translator .box textarea.textmess, .translator .box2 textarea.textmess2, .translator .contranslated textarea.translated {
        font-size: 14px;
    }
}


